@import 'normalize';
@import 'variables';
@import 'header';
@import 'teamStats';
@import 'player';

body {
  background-color: $app-background-color;
  color: $font-color;
}

.container {
  padding: 1em;
}

.divider-gray {
  color: #666281;
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.team-logo {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.team-logo.red {
  background-color: #FF7171;
}

.team-logo.blue {
  background-color: #71D1FF;
}

.recap-component {
  margin-bottom: 20px;
}

.timer-component {
  padding-top: 10px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.timer-component .live {
  margin-top: 0.2em;
  font-size: 0.8em;
  padding: 3px 5px;
  border: 1px solid #00D293;
  color: #00D293;
  border-radius: 4px;
  font-weight: 600;
  letter-spacing: .05em;
}

.recap-stats-component {
  margin: auto;
}

.stat-row td {
  padding: 3px 20px;
}

.stat-row .label {
  font-weight: 600;
}

.stat-row .stat {
  text-align: right;
}
