.table .champ-name{
  color: $dark-font-color;
  margin-left: 0.5em;
}

.player {
  display: flex;
  align-items: flex-start;
  background-color: $app-panel-color;
  padding: 1em;

  &:nth-child(even) {
    background-color: darken($app-panel-color, 1%);
  }
}

.player-portrait {
  margin-right: 1em;
  background-color: #222;
  min-width: 3em;
  min-height: 3em;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.player-body {
  display: flex;

  .name {
    -webkit-font-smoothing: antialiased;
    color: darken($font-color, 10%);
    margin-bottom: 0.2em;
  }

  .champ-name {
    display: block;
    margin-top: 0.2em;
    color: $alt-font-color;
  }
}

.items {
  // flex: 1;
  margin-left: 1em;
}

.item {
  margin-right: 0.2em;
  border: 2px solid #000;
  background-color: #eee;
  width: 48px;
  height: 48px;
  float: left;
}